.resultItemDiv {
    background: rgb(61, 160, 61, 0.4);
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 15% 73% 6% 6%;
    padding: 20px 20px;
    margin: 10px 0;
    border-radius: 0 20px 20px 20px;
    /* border: solid 3px rgb(0, 0, 0, 0.5); */
    box-shadow:2px 3px 10px rgb(128, 128, 128, 0.6);
}

.resultItemDiv h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: white;
    padding: 0 30px;



}
.subTitle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    color: black;
    padding: 5px 30px 5px;

}
.author {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0 0 15px 30px;
    color: white;


}
.imgDiv {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    padding: 0 30px;
    

}

img {
    width: 128px;
    height: auto;
    border-radius: 4%;


}

.description {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    padding: 20px 20px;
    background: rgb(255, 255, 255, 0.8);
    text-align: justify;
    font-family: 'Mukta Malar', sans-serif;
    color: #2a972a;
    line-height: 1.2em;
    border-radius: 8px;
    margin:0;
}

a {
    text-decoration: none;
}
.btnView {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    border: none;
    background: #2a972a;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Mukta Malar', sans-serif;
    font-size: .9em;
    font-weight: 700;
    color: white;
    margin: 5px 0 0 0;

}
.btnSave {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    font-family: 'Mukta Malar', sans-serif;
    background: #2a972a;
    border: none;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Mukta Malar', sans-serif;
    font-size: .9em;
    font-weight: 700;
    color: white;
    margin: 5px 0 0 0;

}
.btnView:hover {
    background: rgb(42, 151, 42, 0.7);
    cursor: pointer;
    

}
.btnSave:hover {
    background: rgb(42, 151, 42, 0.7);
    cursor: pointer;
    

}
.btnView:active {
    width: 51px;
    height: 31px;
  }
.btnSave:active {
    width: 51px;
    height: 31px;
  }
.btnView:focus{
    outline:none;
}
.btnSave:focus{
    outline:none;
}



@media screen and (min-width: 1200px) and (max-width: 1470px){

    .resultItemDiv h2 {
        padding: 0;
    }
    .subTitle {
        padding: 5px 0 5px;
    }
    .author {
        padding: 0 0 15px 0;
    }
    .imgDiv {
        padding: 0;
    }

    .btnView {
        width: 50px;
        height: 30px;
        font-size: .9em;
        font-weight: 700;
    }
    .btnSave {
        width: 50px;
        height: 30px;
        font-size: .9em;
        font-weight: 700;
    }

    .btnView:active {
        width: 51px;
        height: 31px;
      }
    .btnSave:active {
        width: 51px;
        height: 31px;
      }
}

@media screen and (min-width: 1000px) and (max-width: 1199px){
    
    .resultItemDiv {
        display: grid;
        grid-template-columns: 15% 73% 6% 6%;
    }
    .resultItemDiv h2 {
        padding: 0;
    }
    .subTitle {
        padding: 5px 0 5px;
    }
    .author {
        padding: 0 0 15px 0;
    }
    .imgDiv {
        padding: 0;
    }

    .btnView {
        width: 50px;
        height: 30px;
        font-size: .9em;
        font-weight: 700;
    }
    .btnSave {
        width: 50px;
        height: 30px;
        font-size: .9em;
        font-weight: 700;
    }

    .btnView:active {
        width: 51px;
        height: 31px;
      }
    .btnSave:active {
        width: 51px;
        height: 31px;
      }

}

@media screen and (min-width: 700px) and (max-width: 1000px){

    .resultItemDiv {
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .resultItemDiv h2 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        padding: 0;
        font-size: 1.5em;
    }
    .subTitle {
        
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        padding: 75px 0 5px;
    }
    .author {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        padding: 100px 0 15px 0;
    }
    .imgDiv {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        padding: 0;
    }

    .description {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        padding: 10px;
        line-height: 1.1em;
        font-size: .9em;
        border-radius: 8px;
        margin:10px 0 0 0;
    }
    .imgDiv img {
        width: 120px;
        height: 120px;
        border-radius: 4%;
    
    
    }

    .btnView {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:2;
        grid-row-end:3;
        width: 50px;
        height: 30px;
        font-size: .9em;
        font-weight: 700;
        margin-left: 65px;
    }
    a{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:2;


    }
    .btnSave {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        width: 50px;
        height: 30px;
        font-size: .9em;
        font-weight: 700;
        margin-left: 5px;
    }

    .btnView:active {
        width: 51px;
        height: 31px;
      }
    .btnSave:active {
        width: 51px;
        height: 31px;
      }

}

@media screen and (min-width: 300px) and (max-width: 700px){

    .resultItemDiv {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
    }
    .resultItemDiv h2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        padding: 0;
        font-size: 1.5em;
    }
    .subTitle {
        
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        padding: 5px 0 5px;
    }
    .author {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:4;
        padding: 5px 0 15px 0;
    }
    .imgDiv {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        padding: 0;
    }

    .description {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        padding: 10px;
        line-height: 1.1em;
        font-size: .8em;
        border-radius: 8px;
        margin:10px 0 0 0;
    }
    .imgDiv img {
        width: 120px;
        height: 120px;
        border-radius: 4%;
    
    
    }

    .btnView {
        grid-column-start: 1;
        grid-row-start:5;
        width: 50px;
        height: 30px;
        font-size: .9em;
        font-weight: 700;
        /* margin-left: 65px; */
    }
    a{
        grid-column-start: 1;
        grid-row-start:5;
        text-align: right;
        


    }

    .btnSave {
        margin: 5px 0 0 5px;
        grid-column-start: 2;
        grid-row-start: 5;
        width: 50px;
        height: 30px;
        font-size: .9em;
        font-weight: 700;
        /* margin: 5px 0 0 0; */
        /* margin-left: 5px; */
    }

    .btnView:active {
        width: 51px;
        height: 31px;
      }
    .btnSave:active {
        width: 51px;
        height: 31px;
      }




}

