/* font-family: 'Patua One', cursive;
font-family: 'Cherry Cream Soda', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Mukta Malar', sans-serif; */